
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

html,body{
background-color: #fff;
}


body
{
  height: 100%;
	width: 100%;
	background-color: white;
	background-position: center;
	background-size: cover;
	position: absolute;
 font-weight: Century Gothic;
font-family: poppins;
font-size: 16px;
margin: 0;
margin-bottom: 250px;
}


.tax {
   text-position: top;
  text-transform: uppercase;
  color: black;
 font-family: Century Gothic;
   font-size: 80px;
   font-weight: 1000;
 padding: 40px 0;  
  text-align: center;

}


/*----------navigation bar---------*/
.logo
{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}
/*-----------website name-----------*/
.logo div
{
   
    font-family: 'Dosis', sans-serif;
    font-family: 'Tapestry', cursive;
    font-weight: 1000;
    font-size: 170%;
 background-color: transperant;
  background: black;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
color: white;
}

.navbar {
  overflow: hidden;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-flex;
    align-items: right;
    margin-top: -60px;
   margin-left: 700px;
}

.navbar a {
  float: none;
  font-size: 20px;
  background-color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  justify-content: space-between;
    display: inline-flex;
font-weight: 400%;
margin-right: 2px;
color: black;
}

.dropdown {
  float: right;
  overflow: hidden;
font-size: 20px; 
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 10px;
  background-color: white;
  font: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: #FFD700;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  left: 0;
  margin-left: 700px;
  box-shadow: 0px 8px 16px rgba(0,0,0);
  z-index: 1;
}



.dropdown:hover .dropdown-content {
  display: block;

}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 10px;
  color: white;
  height: 250px;
}

.column a {
  float: none;
  color: black;
  padding: 10px;
  text-decoration: white;
  display: block;
  text-align: left;
  font-size: 100%;
  background-color: white;
}

.column a:hover {
  background-color: white;
  font-size: 130%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



.image1{
	position: absolute;
	left: 10%;
	top:40%;
	border: 1px solid darkgray;
	box-shadow: 1px 2px 4px;
}

.image1:hover{
	box-shadow: 1px 3px 9px;
}
/*----------for home page new arrival pic2-----------*/
.image2{
	position: absolute;
	left: 40%;
	top:40%;
	border: 1px solid darkgray;
	box-shadow: 1px 2px 4px;
}
.image2:hover{
	box-shadow: 1px 3px 9px;
}
/*----------for home page new arrival pic1-----------*/
.image3{
	position: absolute;
	left: 70%;
	top:40%;
	border: 1px solid darkgray;
	box-shadow: 1px 2px 4px;
}
.image3:hover{
	box-shadow: 1px 3px 9px;
}


.price
{
color: grey;
  font-size: 22px;
}

/*----------buy now and add to cart button-----------*/
.image1 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  
}

.image1 button:hover {
  opacity: 0.7;
}
/*----------buy now and add to cart button-----------*/
.image2 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.image2 button:hover {
  opacity: 0.7;
}
/*----------buy now and add to cart button-----------*/
.image3 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.image3 button:hover {
  opacity: 0.7;
}

.image4{
	position: absolute;
	left: 10%;
	top:120%;
	border: 1px solid darkgray;
	box-shadow: 1px 2px 4px;
}

.image4:hover{
	box-shadow: 1px 3px 9px;
}
/*----------for home page new arrival pic2-----------*/
.image5{
	position: absolute;
	left: 40%;
	top:120%;
	border: 1px solid darkgray;
	box-shadow: 1px 2px 4px;
}
.image5:hover{
	box-shadow: 1px 3px 9px;
}
/*----------for home page new arrival pic1-----------*/
.image6{
	position: absolute;
	left: 70%;
	top:120%;
	border: 1px solid darkgray;
	box-shadow: 1px 2px 4px;
}
.image6:hover{
	box-shadow: 1px 3px 9px;
}


.price
{
color: grey;
  font-size: 22px;
}

/*----------buy now and add to cart button-----------*/
.image4 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.image4 button:hover {
  opacity: 0.7;
}
/*----------buy now and add to cart button-----------*/
.image5 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.image5 button:hover {
  opacity: 0.7;
}
/*----------buy now and add to cart button-----------*/
.image6 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.image6 button:hover {
  opacity: 0.7;
}

/*----------for home page new arrival pic1-----------*/
.image7{
	position: absolute;
	left: 10%;
	top:200%;
	border: 1px solid darkgray;
	box-shadow: 1px 2px 4px;
}

.image7:hover{
	box-shadow: 1px 3px 9px;
}
/*----------for home page new arrival pic2-----------*/
.image8{
	position: absolute;
	left: 40%;
	top:200%;
	border: 1px solid darkgray;
	box-shadow: 1px 2px 4px;
}
.image8:hover{
	box-shadow: 1px 3px 9px;
}
/*----------for home page new arrival pic1-----------*/
.image9{
	position: absolute;
	left: 70%;
	top:200%;
	border: 1px solid darkgray;
	box-shadow: 1px 2px 4px;
}
.image9:hover{
	box-shadow: 1px 3px 9px;
}


.price
{
color: grey;
  font-size: 22px;
}

/*----------buy now and add to cart button-----------*/
.image7 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.image7 button:hover {
  opacity: 0.7;
}
/*----------buy now and add to cart button-----------*/
.image8 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.image8 button:hover {
  opacity: 0.7;
}
/*----------buy now and add to cart button-----------*/
.image9 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.image9 button:hover {
  opacity: 0.7;
}

/*----------for home page new arrival pic1-----------*/
.image10{
	position: absolute;
	left: 10%;
	top:280%;
	border: 1px solid darkgray;
	box-shadow: 1px 2px 4px;
}

.image10:hover{
	box-shadow: 1px 3px 9px;
}
/*----------for home page new arrival pic2-----------*/
.image11{
	position: absolute;
	left: 40%;
	top:280%;
	border: 1px solid darkgray;
	box-shadow: 1px 2px 4px;
}
.image11:hover{
	box-shadow: 1px 3px 9px;
}
/*----------for home page new arrival pic1-----------*/
.image12{
	position: absolute;
	left: 70%;
	top:280%;
	border: 1px solid darkgray;
	box-shadow: 1px 2px 4px;
}
.image12:hover{
	box-shadow: 1px 3px 9px;
}


.price
{
color: grey;
  font-size: 22px;
}

/*----------buy now and add to cart button-----------*/
.image10 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.image10 button:hover {
  opacity: 0.7;
}
/*----------buy now and add to cart button-----------*/
.image11 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.image11 button:hover {
  opacity: 0.7;
}
/*----------buy now and add to cart button-----------*/
.image12 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.footer-wrapper{

width: 1100px;
margin: 27;
}
.single-footer{
width: 33%;
float: left;
text-align: left;
color: #fff;

}
.single-footer ul{
margin: 0;
padding: 0;
list-style: none;
}
.single-footer ul a{
text-transform: uppercase;
text-decoration: none;
color: #fff;
font-size: 12px;
margin: 15;
}
.single-footer p{
width: 70%;
}

.single-icons{
width: 33%;
float: right;
text-align: center;
color: #fff;
margin: -120px;
padding: 0px;
}
.single-icons ul{
margin: 15px;
padding: 0;
list-style: none;
}
.single-icons ul a{
text-transform: uppercase;
text-decoration: none;
color: #fff;
font-size: 30px;
margin: 0;
padding: 5;
}

footer{
width: 100%;
height: 250px;
position: absolute;
bottom: -2112;
z-index: 1;
background-color: #262626;
}
